.card {
    padding: 20px 10px;
    border-radius: 30px;
}

.formEmail {
    margin-top: 50px;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 50px;
}